.order{
    text-align: center;
    // margin: 30px auto;

    &-title{
        margin-bottom: 35px;
    }

    &-item{
        border: 1px solid grey;
        padding: 10px;
        margin-bottom: 30px;

        &-date{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            text-align: left;
            font-weight: bold;
            font-size: 22px;

            div{
                display: flex;
                justify-content: flex-end;
                width: 50%;

                .btn-main{
                    margin-left: 15px;
                }
            }
        }
        &-user{
            text-align: left;
            font-size: 20px;
        }
        &-tours{
            // background: rgba(158, 197, 187, 0.3);

            &-item{
                border: 1px solid #40b0b8;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;

                p {
                    width: 25%;
                    margin: 0;
                    padding: 7px 15px;
                    border-right: 1px solid #40b0b8;
                }
            }
        }
    }
}

.rejected{
    background: rgba(169, 176, 177, 0.3);
}

.paid{
    background: rgba(78, 192, 135, 0.3);
}

.consideration{
    background: rgba(241, 233, 107, 0.3);
}