.order{
    text-align: center;
    // margin: 30px auto;

    &-title{
        margin-bottom: 35px;
    }

    &-item{
        border: 1px solid grey;
        padding: 10px;
        margin-bottom: 30px;

        &-date{
            text-align: left;
            font-weight: bold;
            font-size: 22px;
        }
        &-user{
            text-align: left;
            font-size: 20px;
        }
        &-tours{
            // background: rgba(158, 197, 187, 0.3);

            &-item{
                border: 1px solid #40b0b8;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;

                p {
                    width: 25%;
                    margin: 0;
                    padding: 7px 15px;
                    border-right: 1px solid #40b0b8;
                }
            }
        }
    }
}