.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &-top{
        text-align: center;
        background-image: url('../../img/memphis-colorful.png');

        .container{
            padding: 10px 0;
        }

        h1{
            font-size: 20px;
            color: rgb(7, 61, 43);
        }
    }

    &-logo{
        display: block;

        img{
            width: 100px;
            height: 100px;
        }
    }
    &-navigation{
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;

        &-item{
            margin-left: 10px;

            a{
                color: rgb(65, 64, 64);
                padding: 5px;
                font-size: 30px;
            }
        }
    }
    &-shopping-cart{
        img{
            width: 70px;
            height: 70px;
        } 
    }

    &-login{
        &-item{
            font-size: 25px;
            padding: 7px;
            border: 1px solid rgb(58, 192, 46);
            border-radius: 10px;
            color: rgb(65, 64, 64);
            background: rgba(143, 207, 172, 0.2);
        }
        &-name{
            font-size: 18px;
            text-align: center;
            margin-top: 10px;
            color: rgb(16, 54, 88);
        }
    }
    &-logout{
        &-item{
            font-size: 25px;
            padding: 7px;
            border: 1px solid rgb(133, 21, 21);
            border-radius: 10px;
            color: rgb(65, 64, 64);
            background: rgba(224, 144, 141, 0.2);
        }
    }
}